// Normalize
@import "./normalize";
// fonts
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/montserrat-v15-latin-regular.woff2") format("woff2"),
    url("../assets/fonts/montserrat-v15-latin-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/montserrat-v15-latin-700.woff2") format("woff2"),
    url("../assets/fonts/montserrat-v15-latin-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Questrial";
  src: url("../assets/fonts/questrial-v13-latin-regular.woff2") format("woff2"),
    url("../assets/fonts/questrial-v13-latin-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
// Global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
// Colors
:root {
  --main-bg-color: #fff;
  --primary-color: #ff5672;
  --text-color: #707070;
  --text-color-secondary: #c3d0d8;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--primary-color);
}

// Container
.container {
  width: 100%;
  margin: 0 auto;
  @media (min-width: 640px) {
    max-width: 640px;
  }
  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 1024px) {
    max-width: 1024px;
  }
  @media (min-width: 1280px) {
    max-width: 1280px;
  }
  @media (min-width: 1536px) {
    max-width: 1536px;
  }
}
.Main {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
// logo
.logo {
  &-main {
    display: block;
    transition: all 0.2s;
    padding: 5px 0 0 1rem;
    height: 50px;
    margin: 0;

    &:hover {
      opacity: 0.75;
    }
  }
  &-container {
    display: grid;
    grid-template-columns: 33px 1fr;
    column-gap: 0.5rem;
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
    align-items: center;
  }
  &-title {
    display: flex;
    flex-direction: column;

    & span:last-of-type {
      font-size: 8px;
      color: var(--text-color-secondary);
      font-weight: 400;
      letter-spacing: 2px;
    }
  }
}
// Header
.Header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  &-main {
    background-color: var(--main-bg-color);
    height: 50px;

    .container {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & .Header-nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        background-color: #fff;
        clip-path: circle(0% at 100% 0%);
        transition: all 1s ease;

        display: flex;
        justify-content: center;
        align-items: center;

        &__active {
          clip-path: circle(1000% at 100% 0%);
        }

        @media (min-width: 768px) {
          background-color: inherit;
          position: static;
          height: 50px;
          width: auto;
          clip-path: none;
          transition: none;
        }

        & ul {
          width: 100%;
          list-style: none;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;

          @media (min-width: 768px) {
            flex-direction: row;
          }
        }
        & li {
          font-family: "Questrial", sans-serif;
          width: 100%;
        }
        & a {
          text-decoration: none;
          font-size: 14px;
          color: var(--text-color);
          text-transform: capitalize;
          transition: all 0.2s;
          cursor: pointer;
          display: block;
          width: 100%;
          padding: 2rem 0;

          @media (min-width: 768px) {
            padding: 0.5rem 1rem;
            width: auto;
            display: inline-block;

            &:hover {
              background-color: var(--primary-color);
              color: #fff;
            }
          }
        }
      }
    }
  }
  &-icon {
    cursor: pointer;
    z-index: 100;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #707070;
    transition: all 1s ease;

    &__active {
      color: var(--primary-color);
    }

    & svg {
      width: 20px;
      height: 20px;
    }

    @media (min-width: 768px) {
      display: none;
    }
  }
}
// Banner
.banner {
  &-main {
    background-color: var(--primary-color);
    color: #fff;
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;

    @media (min-width: 640px) {
      height: 550px;
    }
  }
  &-title {
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 2rem;
    line-height: 1.5;
    padding: 0 1rem;

    @media (min-width: 640px) {
      font-size: 40px;
    }
  }
  &-info {
    margin-bottom: 3rem;
    font-family: "Questrial";
  }
  &-description {
    font-size: 0.8rem;
    padding: 0 1rem;
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
    line-height: 1.25;

    @media (min-width: 640px) {
      font-size: 1rem;
    }
  }
}

// Buttom
.buttom {
  padding: 1rem 2rem;
  font-family: "Questrial" sans-serif;
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
  transition: all 0.2s;

  &__primary {
    background-color: var(--primary-color);
    color: #fff;
    display: block;
    width: fit-content;
    margin: 2rem auto;

    &:hover {
      opacity: 0.75;
    }
  }

  &--contrast {
    background-color: #fff;
    color: var(--primary-color);
    text-transform: uppercase;

    &:hover {
      opacity: 0.75;
    }
  }
}

// Filter
.Filter {
  &-nav {
    margin: 2rem auto;
    height: 100%;
    padding: 0 1rem;

    & ul {
      height: 100%;
      display: flex;
      justify-content: center;
      list-style: none;
      align-items: center;
      flex-wrap: wrap;
    }
    & li {
      font-family: "Questrial", sans-serif;
      margin-right: 0.5rem;
    }
    & a {
      text-decoration: none;
      font-size: 14px;
      color: var(--text-color);
      text-transform: capitalize;
      padding: 0.5rem 1rem;
      transition: all 0.2s;
      cursor: pointer;
      display: inline-block;
      margin-bottom: 0.5rem;

      &:hover {
        background-color: var(--primary-color);
        color: #fff;
      }
    }
  }

  &-item__active {
    background-color: var(--primary-color);
    color: #fff !important;
  }
}
// masonry layout
.masonry-layout {
  display: grid;
  grid-gap: 1rem;

  &__column-1 {
    grid-template-columns: 1fr;
  }
  &__column-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  &__column-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  &__column-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  &__column-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  img {
    display: block;
    width: 100%;
    max-width: 100%;
    object-fit: contain;
  }
}

// gallery
.gallery {
  &-main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 1rem;
    animation-duration: 2s;
    animation-name: fade;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: var(--primary-color);
      opacity: 0;
      position: absolute;
      transition: all 0.3s;
    }
    &:hover {
      &::before {
        opacity: 0.75;
      }
      & .gallery-content {
        opacity: 1;
      }
    }
  }
  &-inner {
    width: 100%;
  }
  &-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 1rem 3rem;
    opacity: 0;
    transition: all 0.3s;
  }
  &-title {
    font-size: 18px;
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #fff;
  }
}

// animations
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;

  &-load {
    border: 4px solid #f3f3f3;
    border-top: 4px solid var(--primary-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// image item
.image-item {
  &__inner {
    background-color: #fff;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba($color: #000000, $alpha: 0.75);
  }
  &__contain {
    width: 80%;
    margin-top: 3.5rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;

    @media (min-width: 640px) {
      width: 70%;
      height: 80%;
    }
  }
  &__buttom {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: .5rem;
    margin-top: 4.5rem;
    display: block;
    background-color: transparent;
    fill: #fff;
    border: none;
    z-index: 20;
    opacity: 0.75;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      fill: var(--primary-color);
    }
    @media (min-width: 640px) {
      margin-left: 1rem;
      margin-top: 4.5rem;
    }
  }
  &__container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
    padding: 2rem 1rem 5rem;
  }
  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    animation-duration: 0.5s;
    animation-name: fade;
  }

  &__description {
    display: block;
    width: 100%;
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
  }
}

// footer
.Footer {
  &-main {
    width: 100%;
    margin: 4rem 0;
  }
  &-list {
    display: flex;
    list-style: none;
    justify-content: center;
  }
  &-brand {
    color: #c2cfd7;
    text-align: center;
    display: block;
    width: 100%;
    margin: 2.5rem 0;
    font-size: 13px;
    & b {
      color: var(--primary-color);
    }
  }
  &-item {
    display: block;
    margin-right: 1.5rem;
  }
  &-link {
    text-decoration: none;
    color: #c2cfd7;
    transition: all 0.2s;

    &:hover {
      color: var(--primary-color);
    }
  }
  &-icon {
    width: 18px;
    height: 18px;
  }
}
