<ul class="Filter-list">
  <li class="Filter-item">
    <a class="Filter-link" href="#/" data-url="/">All</a>
  </li>
  <li class="Filter-item">
    <a class="Filter-link" href="#/branding" data-url="branding">branding</a>
  </li>
  <li class="Filter-item">
    <a class="Filter-link" href="#/web" data-url="web">web</a>
  </li>
  <li class="Filter-item">
    <a class="Filter-link" href="#/photography" data-url="photography"
      >photography</a
    >
  </li>
  <li class="Filter-item">
    <a class="Filter-link" href="#/app" data-url="app">app</a>
  </li>
</ul>
